{% extends 'base.html' %}


{% block head %}


{% endblock %}

{% block content%}
<section class="container px-6 py-16 mx-auto text-center">

    <div class="flex flex-col items-center justify-center ">
        <div>
            <h1 class=" py-6 text-3xl font-semibold text-center text-gray-800 capitalize lg:text-4xl dark:text-white text-blue-500"> Cash Mode</h1>
        </div>
        <div>
            <video class="w-70 h-80 bg-gray-300 bg-center bg-cover rounded-lg shadow-md" id="video" controls src="https://youtu.be/TJjc94NMmkk">
            </video>
        </div>
    </div>
    <div class=" flex flex-col items-center justify-center px-16 py-16 mx-auto text-center">
        <div class="w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg md:w-64 dark:bg-gray-800">
            <h3 class="py-2 font-bold tracking-wide text-center text-gray-800 uppercase dark:text-white">Message</h3>

            <div class=" px-3 py-2 bg-gray-200 dark:bg-gray-700">
                <p class=" tracking-wide text-center font-bold text-gray-800 dark:text-gray-200">$100
                </p>

            </div>
        </div>
    </div>

</section>
{% endblock %}